<!-- study-post-list.html (각 주에 공부해야할 항목의 게시글과 만든 문제를 띄우는 html)
- 주차별 정보 띄우기. (날짜, 몇주차인지, 제목, 세부 내용)
- post 버튼 밑에 게시글 리스트 왼쪽 상단에 게시글 | 문제 버튼 만들 것임.
 여기서 게시글 버튼을 누르면 게시글 리스트가 나오고 문제 버튼을 누르면 문제 리스트가 나오게 설정
- 게시글과 문제의 No. 제목, 작성자, 작성일 띄우기
- 각 게시글 안에 몇 개의 채팅이 왔는지 띄우기. (디자인은 제가할게요 숫자만 받아와 주세요)
- 게시글 리스트를 누르면 게시글 정보를 modal 형태로 만들었는데, 게시글 밑에 댓글창이 있어요. 여기에 사용자 이름, 댓글, 대댓글 다는 기능까지 있었으면 좋겠습니다...! (디자인 구성은 제가 할게요)
- 그리고 문제 리스트도 modal 형태로 띄울 예정인데 거기서도 문제를 올리면 댓글을달고, 댓글을 단 순간 답을 대댓글로(비밀댓글(이것두 따로 작업 하셔야겠죠...?ㅠㅠ)) 보내주는 기능도 필요할 것 같습니다.  -->

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>OPEN STUDY</title>
  <link rel="stylesheet" href="/public/stylesheets/css/bootstrap.css">

  <link rel="shortcut icon" href="/public/images/shortcut-logo.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <style>
    #hover {
      color: #343a40;
    }

    .page-item.active .page-link {
      color: white !important;
      background-color: #ffbc3b !important;
      border-color: #ffbc3b !important;
    }

    .page-link {

      color: #ffbc3b !important;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
  </style>
  <script>
    var study =<%-study %>;
    console.log(study);
    var board =<%-board %>;
    console.log(board);
    var quiz =<%-quiz %>;
    console.log(quiz);
    var num =<%-num %>;
    console.log(num);
    var page =<%-page %>;
    console.log(page);

    var subjectName = study.name;
    var studyIntroduce = study.info;
    var date = board.deadline.split(' ',1)[0];
    console.log(date);

    var mon = date.split('-',3)[1];
    var mon_Eng = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUl", "AUG", "SEP", "OCT", "NOV", "DEC"];
    var day = date.split('-',3)[2];
    var year = date.split('-',3)[0];

    var studyContentsParent = board.name;
    var studyContentsParentWeek = board.week;
    var studyContents = board.info;

    var quizArray = quiz;
    var totalPage = parseInt(num/10)+1;
    console.log(totalPage);

    function outputQuizList() {
      for (var i = 0; i < quizArray.length; i++) {
        document.write('<tr>')
        document.write('<th scope="row">' + quizArray[i].id + '</th>')
        document.write('<td><a href="/study-quiz-solve/'+quizArray[i].id+'" id="hover">' + quizArray[i].name + '</a></td>')
        document.write('<td>' + quizArray[i].owner + '</td>')
        document.write('<td>' + quizArray[i].createdAt.split('T',1)[0] + '</td>')
        document.write('</tr>')
      }
    }

    function makePageNav() {
      for(var i = 1; i <= totalPage; i++ ){
        if(i==page){
          document.write('<li class="page-item active" aria-current="page">');
          document.write('<a class="page-link" href="/study-quiz-list/'+ board.id +'/'+i+'" style="background:ffbc3b;">'+i+'<span class="sr-only">(current)</span>'+'</a>');
          document.write('</li>');
        }
        else{
          document.write('<li class="page-item"><a class="page-link" href="/study-quiz-list/'+ board.id +'/'+i+'">'+i+'</a></li>');
        }
      }
    }
  </script>
</head>

<body style="background:#e9ecef">

  <!--nav bar 시작-->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style=color:white;>
      <img src="/public/images/logo.png" height="30" alt="HOME">
    </a>

    <!--다른 메뉴로 전환-->
    <a class="nav-link active" href="home" style=color:white;>HOME</a>
    <a class="nav-link" href="#" style=color:#ffbc3b;>MYSTUDY</a>
    <a class="nav-link active" href="#" style=color:white;>OPENSTUDY</a>

    <!--우측상단 드롭다운버튼-->
    <div class="dropdown">
      <button class="btn  btn-warning  dropdown-toggle" data-toggle="dropdown">
        MY MENU
      </button>

      <!--드롭다운 내부 버튼들-->
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="my-calendar">MY Calendar</a>
        <a class="dropdown-item" href="/my-test-post/1">MY TEST</a>
        <a class="dropdown-item" href="#">로그아웃</a>
      </div>
    </div>

  </nav>

  <!--jumbotron 시작-->
  <div class="jumbotron jumbotron-fluid" style="margin-top:2.5%; background:#ffbc3b">
    <div class="container">

      <!--row class 시작-->
      <div class="row">
        <div class="col-lg-10">
          <!--studyName 변수로 설정하여 변화가능-->
          <script>
            document.write('<p class="display-4">MyStudy <i class="fas fa-chevron-right fa-sm"></i> ' + subjectName +
              '</p>');
          </script>
        </div>
      </div>
      <!--row class 끝-->

      <!--studyIntroduce 변수로 스터디 소개글 변경가능-->
      <script>
        document.write('<p class="lead" style="margin-top: 1%;">' + studyIntroduce + '</p>');
      </script>

    </div>
  </div>
  <!--jumbotron 끝-->

  <!--본문 내용 시작-->
  <section class="section">
    <div class="container">

      <!-- notice content 시작-->
      <div class="d-flex">
        <div class="text-center mr-4">
          <!-- 노란네모 내용-->
          <div class="p-4 bg-warning text-white">
            <!-- 년, 월, 일 띄워주기-->
            <script>
              document.write('<span class="h2 d-block">' + day + '</span> ' + mon_Eng[mon - 1] + ',' + year);
            </script>
          </div>
        </div>

        <!--주차 설명-->
        <div>
          <script>
            document.write('<h3 class="mb-4">' + studyContentsParentWeek + '주차 ' + studyContentsParent + '</h3>');
          </script>
          <ul class="list-styled mb-5">
            <!--studyContents 리스트화해서 뿌려주기-->
            <script>
              document.write('<li>' + studyContents + '</li>')
            </script>
          </ul>
        </div>
      </div>
      <!-- notice content 끝-->

      <!-- 게시글과 문제 post하기 위한 버튼-->
      <div class="col-lg-12">
        <button type="button" class="btn btn-warning" style="margin-top:5%; width:200px;height:50px;"
        onclick = "location.href='/quiz-post/'+ board.id">문제 POST</button>
      </div>

      <!-- 게시글과 문제 toggle 버튼-->
      <div class="col-lg-12 offset-10">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-secondary " style="margin-bottom: 10% ;  width:100px;height:40px;"
          onclick = "location.href='/study-post-list/'+ board.id">게시글</button>
          <button type="button" class="btn btn-secondary "
            style=" margin-bottom:10%; width:100px;height:40px;">문제</button>
        </div>
      </div>

      <!-- 문제 리스트 보여주는 게시판-->
      <table class="table table-hover">
        
        <!--table header-->
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col" style="width:70%;">제목</th>
            <th scope="col">작성자</th>
            <th scope="col" style="width:10%;">작성일</th>
          </tr>
        </thead>

        <!--table body-->
        <tbody>
          <script>
            outputQuizList();
          </script>
        </tbody>
      </table>

      <!-- page navigation -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <script>
            makePageNav();  
          </script>
        </ul>
      </nav>

    </div>
    </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
</body>

</html>